# Flutter build 
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
.dart_tool/
.dart_tool/flutter_build/*

# Xcode and IOS
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/DerivedData/
ios/.DS_Store
macos/Flutter/Flutter-*.xcconfig
macos/Flutter/GeneratedPluginRegistrant.swift
.dart_tool/
build/

# Android
android/.gradle/
android/app/build/
.dart_tool/flutter_build/013ccc8635710954846749a696a32da0/dart_build_result.json
android/local.properties
.dart_tool/flutter_build

# Pages cache
registration_page

# Firebase configuration files
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
ios/GoogleService-Info.plist
